[flake8]
# Исключаем папки, которые не нужно проверять (например, виртуальное окружение и кэш)
exclude = .venv

# Увеличиваем максимальную длину строки (по умолчанию в Flake8 она 79 символов)
max-line-length = 119

# Игнорируем конкретные ошибки (например: E501 - длинная строка, W503 - перенос строки перед оператором)
ignore =
    E501,
    W503