# Секретные переменные окружения (токены, пароли)
.env
.env.local

# Виртуальное окружение Python
venv/
.venv/
env/
pythonproject1-py3.14/

# Кэш Python и скомпилированные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы настроек редакторов (VS Code, PyCharm/IntelliJ)
.vscode/
.idea/

# Архивы, которые не должны быть в коде
*.zip
*.tar.gz